@charset "utf-8";
        
        *{
          box-sizing: border-box;
        }
        body{
          background-color:pink;
          margin: 0;
          padding: 0;
          line-height: 1.5;
        }
        .nav{
          text-align: center;
          position: fixed;
          top: 0;
        }
        
        p{
          color: black;
          font-family: 'Cute Font', cursive; 

        }
        ul{
          list-style-type: none ;
          margin: 0;
          padding: 0;
          width: 30%;
          height: 100%;
          overflow: auto;
          float: left;
          
        }
        li a{
        }
        li a:hover{
          background-color: white;
          color: black;

        }